* {
    margin: 0;
    padding: 0;
    font-family: inter;
}

header {
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 30%;
}

.icons-header {
    display: flex;
    gap: 0.6rem;
}

.icons-header > img {
    cursor: pointer;
}

.searchSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.titleHome {
    margin-top: 2rem;
    font-size: 1.6rem;
    font-weight: 500;
}

.searchBar {
    background-color: #EAEBEA;
    border: none;
    border-radius: 5rem;
    width: 80%;
    padding: 0.8rem 0.8rem 0.8rem 2rem;
    
}

.searchBar::placeholder {
    color: #B8B8B8;
}

.sliderContainer {
    display: flex;
    gap: 20px;
    padding: 20px;
    overflow-x: auto;
    scrollbar-width: none;
}

.sliderContainer::-webkit-scrollbar {
    display: none;
}

.card {
    min-width: 250px; 
    height: 115px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    scroll-snap-align: start;
    cursor: pointer;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    transition: transform 0.2s;
}

.card::before {
    content: '';
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: linear-gradient(to right, rgba(0,0,0,0.6), rgba(0,0,0,0.3));
    z-index: 1;
}

.card span {
    position: relative;
    z-index: 2;
    color: white;
    font-family: sans-serif;
    font-weight: 800;
    font-size: 1.5rem;
    text-shadow: 0 2px 4px rgba(0,0,0,0.5);
}

.btnDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.btn {
    background-color: #E96B35;
    border: none;
    padding: 0.6rem 2rem 0.6rem 2rem;
    border-radius: 2rem;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.137);
}

.btn > a {
    color: white;
    font-size: 0.8rem;
}

.products {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.product {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: auto;
}

.textProduct {
    background-color: #F3F3F3;
    width: 92%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem;
    border-radius: 0rem 0rem 0.6rem 0.6rem;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.137);
}

.footer {
    background-color: #E96B35;
    color: white;
    font-size: 0.5rem;
    display: flex;
    padding: 0.5rem;
    gap: 0.4rem;
    align-items: center;
    padding-bottom: 2rem;
}